@{
    ViewData["Title"] = "About";
}

<div class="header">
    <h1>Pi Picture Frame</h1>
    <h2>@ViewData["Title"]</h2>
</div>

<div class="content">
    <p><strong>Version: </strong>{%Version%}</p>
    <p><strong>Created By: </strong>Seth Hendrick</p>
    <p><strong>GitHub: </strong><a href="https://github.com/xforever1313/PiPictureFrame">https://github.com/xforever1313/PiPictureFrame</a></p>
    <p><strong>License: </strong><a href="license.txt">Boost Software License</a></p>
    <p><strong>Credits: </strong><a href="credits.txt">Click Here</a></p>
</div>