/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .info-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.info-tables {
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .info-tableclass
 */
.info-table{
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.info-table-free .info-table-header {
    background: #d56900;
}

.info-table-biz .info-table-header {
    background: #2c852e;
}

.info-table-1 .info-table-header {
    background: #000d9f;
}

.info-table-2 .info-table-header {
    background: #5800ff;
}


/*
 * -- INFO TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.info-table-header {
    background: #111;
    color: #fff;
}

.info-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
}


/*
 * -- INFO TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.info-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.info-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {
    .info-table{
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
}
